.Header{
  display: grid;
  grid-template-rows: 33%;
  height: 6em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title{
  font-size: 2.5em;
  color: white;
  }

.slogan{
  color: white;
}